<form ng-controller="CreatePostCtrl" role="form">


<div class="row">
  <div class="col-md-6">
    <label for="titulo">Titulo:</label>
    <input type="text" class="form-control" name="titulo" id="titulo" ng-model="titulo"/>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="post">Post:</label>
    <textarea class="form-control" rows="3" id="post" name="post" ng-model="post" ></textarea>
  </div>
</div>

<br />
<button type="submit" class="btn btn-default" ng-click="createPost(titulo, post)">Crear Post</button>

</form>

