<ul class="noDecoration" >
    <li ng-repeat="post in posts | filter: query">
      <h3>{{post.titulo}}</h3> </br>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="{{ '#modal' + post.id }}">Leer...</button>
        <hr> <!-- nice line... -->

        <!-- Modal Popup-->
        <div class="modal fade" id="{{ 'modal' + post.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="postModalLabel">{{post.titulo}}</h4>
              </div>
              <div class="modal-body">
                <span>
                   {{post.post}}
                </span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
    </li>
</ul>
